@font-face {
	font-family: foundersGroteskBold;
	src: url("fonts/Founders Grotesk - Condensed Bold_Founders Grotesk - Condensed Bold.otf");
}

@font-face {
	font-family: foundersGroteskMedium;
	src: url("fonts/FoundersGroteskText-Medium _1_FoundersGroteskText-Medium _1.otf");
}

@font-face {
	font-family: foundersGroteskLight;
	src: url("fonts/FoundersGroteskText-Light _1_FoundersGroteskText-Light _1.otf");
}

html {
	width:100%;
	height:100%;
}

body {
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #d4d4d4;
}

.mapHolder {
	width: 100%;
	height: 100%;
	cursor: grab;
	position: relative;
	display: flex;
}

.roomHolder {
	position: absolute;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
	z-index: -1;
}

.mapImage {
	width: 1680px;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
	position: absolute;
	z-index: -2;
	object-fit: contain;
}

.campusbtn {
  background-color: #10CFC9;
  color: black;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius:5px;
  border-color: #09938e;
  border-width: 2px;
  font-family: foundersGroteskMedium;
}

.floorbtn {
  background-color: #10CFC9;
  color: black;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius:5px;
  border-color: #09938e;
  border-width: 2px;
  font-family: foundersGroteskMedium;
}

.backbtn {
  background-color: #10CFC9;
  color: black;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius:5px;
  border-color: #09938e;
  border-width: 2px;
  font-family: foundersGroteskMedium;
  float: right;
  margin: 10px;
}

.campus-dropdown {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.floor-dropdown {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.room-dropdown {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.campus-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  cursor: pointer;
}

.floor-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 65px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.room-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 203px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  cursor: pointer;
  overflow: auto;
  max-height: 220px;
}

.room-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: auto;
  font-family: foundersGroteskLight;
}

.campus-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: foundersGroteskLight;
}

.floor-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: foundersGroteskLight;
}

.campus-content a:hover {background-color: #ddd;}

.campus-dropdown:hover .campus-content{display: block;}

.campusbtn:hover .campusbtn {background-color: #00C0C0;}

.floor-content a:hover {background-color: #ddd;}

.floor-dropdown:hover .floor-content {display: block;}

.floorbtn:hover .floorbtn {background-color: #3434FF;}

.room-content a:hover {background-color: #ddd;}

.roomObject {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 2px;
	transform-origin: 10px 10px;
	transform: translate(0px, 0px) rotate(0deg);
	position: absolute;
	font-family: foundersGroteskBold;
	color: #505050;
	overflow: hidden;
}

#pointFinder {
	position: absolute;
	display: none;
}

#roomFinder {
	height: 32px;
	font-size: 16px;
	font-family: foundersGroteskMedium;
}

.selected-campus {
	position: relative;
	display: inline-block;
	padding-left: 10px;
	font-family: foundersGroteskBold;
}

@media screen and (max-width: 550px) {
	.selected-campus {
		width: 86px;
		transform: translate(0px, 10px);
	}
}

@media screen and (max-width: 620px) {
	.backbtn {
		display: none;
	}
}

.placePointer {
	position: absolute;
	height: 10px;
	opacity: 0.7;
	transform-origin: 0px 0px;
}