body {
	font-family: "Raleway","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    z-index: -1;
	margin: 0px;
	padding: 0px;
}
body img {
	position: fixed;
	z-index: -5;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 100%;
}

.main-buttons {
	width: 800px;
	margin-top: -200px;
	margin-right: auto;
	margin-left: -400px;
	margin-bottom: auto;
	background-color: rgba(170,240,238,0.85);
	height: 400px;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px #368A98;
	border: thin solid #316786;
	box-shadow: 0px 0px 10px #368A98;
	left: 50%;
	top: 50%;
	position: absolute;
}

.main-buttons table {
    display: table;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.main-buttons table td {
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	border-collapse: collapse;
	font-size: 30px;
	width: 100px;
	height: 75px;
}

