body {
	font-family: "Raleway","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    z-index: -1;
	margin: 0px;
	padding: 0px;
}
body img {
	position: fixed;
	z-index: -5;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 100%;
}

.main-buttons {
	width: 800px;
	margin-top: -200px;
	margin-right: auto;
	margin-left: -400px;
	margin-bottom: auto;
	background-color: rgba(170,240,238,0.85);
	height: 400px;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px #368A98;
	border: thin solid #316786;
	box-shadow: 0px 0px 10px #368A98;
	left: 50%;
	top: 50%;
	position: absolute;
}

.main-buttons ul {
	list-style: none;
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    float: left;
}

.scorelist li{
	display: inline;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: none!important;
	border: none!important;
	width: 100px!important;
}

.main-buttons ul li{
	margin-bottom: 50px;
	padding-top: 20px;
	border-radius: 5px;
	border: thin solid #747474;
	text-align: center;
	font-weight: bold;
	-webkit-box-shadow: 2px 2px 5px #666666;
	box-shadow: 2px 2px 5px #666666;
	width: 550px;
	height: 100px;
	font-size: 30px;
}

