body {
	font-family: "Raleway","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    z-index: -1;
	margin: 0px;
	padding: 0px;
}
body img {
	position: fixed;
	z-index: -5;
	margin: 0px;
	padding: 0px;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
}

.main-buttons {
	width: 800px;
	margin-top: -300px;
	margin-right: auto;
	margin-left: -400px;
	margin-bottom: auto;
	background-color: rgba(170,240,238,0.85);
	height: 600px;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px #368A98;
	border: thin solid #316786;
	box-shadow: 0px 0px 10px #368A98;
	left: 50%;
	top: 50%;
	position: absolute;
	display: block;
}

.main-buttons p {
	font-size: 50px;
}

.openmenu {
	width: 400px;
	margin-top: -300px;
	margin-right: auto;
	margin-left: -200px;
	margin-bottom: auto;
	background-color: rgba(170,240,238,0.85);
	height: 600px;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px #368A98;
	border: thin solid #316786;
	box-shadow: 0px 0px 10px #368A98;
	left: 50%;
	top: 50%;
	position: absolute;
	display: none;
}

#menu {
	display: table;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
}

#menu th, td {
	
	width: 150px;
}

.main-buttons table {
    display: inline-table;
	
}

.main-buttons table td {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-collapse: collapse;
	font-size: 30px;
	width: 300px;
	height: 80px;
}

